LAN_HOST=192.168.1.10
LAN_PORT=8080
POSTGRES_DB=threerevertwatch
POSTGRES_USER=threerevertwatch
POSTGRES_PASSWORD=change-me
REDIS_PASSWORD=
KAFKA_TOPIC_PARTITIONS=6
SEQ_FIRSTRUN_NOAUTHENTICATION=true

