LAN_HOST=192.168.1.10
LAN_PORT=8080
PUBLIC_HOST=demo.example.com
PUBLIC_HTTP_PORT=80
PUBLIC_HTTPS_PORT=443
POSTGRES_DB=threerevertwatch
POSTGRES_USER=threerevertwatch
POSTGRES_PASSWORD=change-me
REDIS_PASSWORD=
KAFKA_TOPIC_PARTITIONS=6
KAFKA_LOG_RETENTION_HOURS=72
KAFKA_LOG_RETENTION_BYTES=1073741824
KAFKA_LOG_SEGMENT_BYTES=268435456
DEMO_POSTGRES_MEM_LIMIT=384m
DEMO_REDIS_MEM_LIMIT=128m
DEMO_ZOOKEEPER_MEM_LIMIT=384m
DEMO_ZOOKEEPER_HEAP_OPTS=-Xms128m -Xmx256m
DEMO_KAFKA_MEM_LIMIT=768m
DEMO_KAFKA_HEAP_OPTS=-Xms256m -Xmx512m
DEMO_DOTNET_WORKER_MEM_LIMIT=256m
DEMO_DOTNET_WEB_MEM_LIMIT=384m
DEMO_REVERSE_PROXY_MEM_LIMIT=128m
DEMO_RETENTION_MEM_LIMIT=128m
DEMO_EDIT_RETENTION_DAYS=3
DEMO_SNAPSHOT_RETENTION_DAYS=7
DEMO_CANDIDATE_RETENTION_DAYS=7
DEMO_CLEANUP_INTERVAL_SECONDS=86400
DEMO_LOG_MAX_SIZE=10m
DEMO_LOG_MAX_FILE=3
SEQ_FIRSTRUN_NOAUTHENTICATION=true
